# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.unity-cookbook-2023-ch02-04-image-panels-and-depths.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
